<div class="jumbotron">
    <h1 class="display-4">Welcome to dinner planner</h1>
    <p class="lead">This is a simple app meant to ease your dinner planning efforts.</p>
    <hr class="my-4">
    <p>You can add meals and ask it to generate a 7-day meal plan for you.</p>
    <div class="row">
        <a class="btn btn-primary btn-lg col-sm-2" href="#" role="button">Generate meal plan</a>
        <a class="btn btn-primary btn-lg col-sm-2" href='addMeal' role="button">Add meals</a>
    </div>
</div>