/* You can add global styles to this file, and also import other style files */
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  background-color: #000;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fab {
  background-color:black!important;
  min-height: 8rem !important;
  min-width: 8rem !important;
}

.fab mat-icon {
  transform: scale(2.5);
}

[hidden] {
  display: none !important;
}
