<form [formGroup]="mealForm" class="container-fluid" (ngSubmit)="onSubmit()">
    <div class="row justify-content-center">
        <h1 class="col-md-auto">Create your meal:</h1>
    </div>
    <div class="form-group row justify-content-center">
        <label for="mealNameInput" class="col-md-auto col-form-label">Meal name:</label>
        <input type="text" class="col-md-4 form-control" id="mealNameInput" formControlName="name" />
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h2 class="text-center">Catalog:</h2>
            <div class="row">
                <div *ngFor="let ingredient of ingredients;" class="card col-sm-4 ingredient" (click)="putIngredientInForm(ingredient)">
                    <!-- <img class="card-img-top" [src]="ingredient.url" alt="product image"> -->
                    <div class="card-body">
                        <h5 class="card-title">{{ ingredient.name }}</h5>
                        <p class="card-text">{{ingredient.amount}} {{ ingredient.unit }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <h2 class="text-center">Ingredients:</h2>
            <table class="table" aria-describedby="ingredients input table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Unit</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody formArrayName="ingredients">
                    <tr *ngFor="let ingredientRow of ingredientsFormArray.controls; index as i;" formGroupName="{{i}}">
                        <td>
                            #{{i+1}}
                        </td>
                        <td>
                            <input type="text" class="form-control" id="ingredient-name-{{i}}" formControlName="name">
                        </td>
                        <td>
                            <input type="text" class="form-control" id="ingredient-amount-{{i}}" formControlName="amount">
                        </td>
                        <td>
                            <app-dropdown-selector formControlName="unit" [options]="units"></app-dropdown-selector>
                        </td>
                        <td>
                            <button type="button" class="float-right btn-circle btn-md btn-light" (click)="deleteRow(i)">x</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <button type="button" class="float-right btn-circle btn-md btn-light" (click)="addRow()">+</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="submit" class="float-right btn btn-primary submit-button" [disabled]="!mealForm.valid">Submit</button>
        </div>
    </div>
</form>
