<div>
  <webcam (imageCapture)="handleImage($event)" style="margin-left: 200px;" [trigger]="triggerObservable" style="display:none"></webcam>

  <img id="image" [src]="webcamImage?.imageAsDataUrl" style="margin-left: 50px;" (load)="convertToOpenCV()" style="display:none"/>
</div>

<canvas id="canvas-filter2d" style="margin-left: 50px; width: auto; height: auto;"></canvas>
<canvas id="canvas-dilate" style="margin-left: 200px; width: auto; height: auto;"></canvas>
<canvas id="canvas-threshold" style="margin-left: 50px; width: auto; height: auto;"></canvas>
<canvas id="canvas" style="margin-left: 200px; width: auto; height: auto;"></canvas>

