@font-face {
  font-family: daniel;
  src: url("../../assets/fonts/daniel/Daniel-Regular.otf") format("opentype");
}
@font-face {
  font-family: daniel;
  font-weight: bold;
  src: url("../../assets/fonts/daniel/Daniel-Bold.otf") format("opentype");
}

.game-container {
  background: black;
  color: whitesmoke;
  width: 100%;
  height: 100%;
}

.top-row {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.screen-container {
  height: 90%;
}

.jc-end {
  justify-content: end;
}

.jc-space-between {
  justify-content: space-between;
}
